.main {
    width: 100%;
    background-color: #F4F5F7;
}

.markaziy_bank {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 30px;
    margin-bottom: 4rem;
    margin-top: 2rem;
    color: rgb(122, 17, 17);
    font-style: italic;
    border-bottom: 2px dashed red;
    padding-bottom: 1rem;
}

.main-row {
    padding: {
        top: 2rem;
        bottom: 4rem;
    }
}

.main-box {
    background-color: white;
    padding: 2rem;
    margin-top: 3rem;
    box-sizing: border-box;
    border-radius: 20px;
    transition: .5s;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.main-box:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: .5s;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.btn_value {
    padding-top: 5rem;

    span {
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: 1px;
        color: orange;
    }
}